<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--启动AspectJ支持-->
    <aop:aspectj-autoproxy/>
    <!--定义bean-->
    <bean id="fighter" class="com.spring.Aop.Fighter"/>
    <bean id="tiger" class="com.spring.Aop.Tiger"/>

    <!--启动AspectJ支持-->
    <aop:aspectj-autoproxy/>
    <!--定义bean-->
    <bean id ="imageCopy" class="com.spring.Image.ImageCopy"/>
    <bean id="imageHandler" class="com.spring.Image.ImageHandler"/>

</beans>