<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定义-->
    <bean id="messageServiceImpl" class="com.spring.spring.quickstart.MessageServiceImpl">
        <constructor-arg name="username" value="Way lau"/>
        <constructor-arg name="age" value="30"/>
    </bean>
    <bean id="messagePrinter" class="com.spring.spring.quickstart.MessagePrinter">
        <constructor-arg name="service" ref="messageServiceImpl"/>
    </bean>

    <bean id="car1" class="com.spring.spring.quickstart.Car">
        <property name="brand" value="捷豹"/>
        <property name="color" value="红色"/>
        <property name="parameter" value="4.0T"/>
    </bean>
    <bean id="car2" class="com.spring.spring.quickstart.Car">
        <property name="brand" value="劳斯莱斯"/>
        <property name="color" value="红色"/>
        <property name="parameter" value="4.0T"/>
    </bean>
    <bean id="car3" class="com.spring.spring.quickstart.Car">
        <property name="brand" value="宝马x6"/>
        <property name="color" value="黑色"/>
        <property name="parameter" value="4.0T"/>
    </bean>
    <bean id="boss1" class="com.spring.spring.quickstart.Boss">
        <property name="name" value="马云"/>
        <property name="company" value="阿里巴巴"/>
        <property name="car" ref="car1"/>
        <property name="hobbies">
            <list>
                <value>阅读</value>
                <value>散步</value>
            </list>
        </property>
    </bean>
    <bean id="boss2" class="com.spring.spring.quickstart.Boss">
        <property name="name" value="马化腾"/>
        <property name="company" value="腾讯"/>
        <property name="car" ref="car2"/>
        <property name="hobbies">
            <list>
                <value>美食</value>
                <value>读书</value>
            </list>
        </property>
    </bean>
    <bean id="boss3" class="com.spring.spring.quickstart.Boss">
        <property name="name" value="乔布斯"/>
        <property name="company" value="Iphone"/>
        <property name="car" ref="car3"/>
        <property name="hobbies">
            <list>
                <value>听音乐</value>
                <value>跑步</value>
            </list>
        </property>
    </bean>
    <bean id="meeting" class="com.spring.spring.quickstart.Metting">
        <property name="theme" value="全球环保会议"/>
        <property name="bosses">
            <list>
                <ref bean="boss1"/>
                <ref bean="boss2"/>
                <ref bean="boss3"/>
            </list>
        </property>
    </bean>

</beans>